html, body{
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  text-size-adjust: 100%;
  letter-spacing: 0.05em;
  background-color: #fcfcf1;
}
p, a {
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
a {
  color: #ceca93;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  transition: .2.5s;
}

img{
  width: 100%;
  vertical-align: middle;
}
.header{
  box-sizing: border-box;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #4b4238;
  color: #ceca93;
  position: fixed;
  transition: .2s;
  z-index: 2;
}
.header .title{
  font-size: 32.5px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium';
}
.menu{
  display: flex;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium';
}
.menu-item{
  margin-right: 30px;
}
.menu-link{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.top-image {
  background-image: url("../img/top-image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.top-title{
  font-size: 60px;
  font-family: 'Franklin Gothic Medium';
  color: #f6f5f4;
  text-shadow: 0 0 20px rgba(250, 215, 160, 0.4), 0 0 50px rgba(229, 152, 102 , 0.8);
}
.container{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px;
}
.container-title{
  font-family: 'Franklin Gothic Medium';
  color: #ceca93;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.container-lightGray{
  background-color: #f4f5f6;
}
.container-flex{
  display: flex;
}
.container-head{
  margin-bottom: 30px;
  text-align: center;
}
.container-body p{
  text-align: center;
}
.container-body-left{
  margin-right: 10px;
}
.panel{
  box-sizing: border-box;
  background: white;
  position: relative;
  transition: .4s;
  margin-right: 10px;
}
.panel-group{
  display: flex;
  justify-content: space-between;
}
.panel-hover{
  display: inline-block;
  transition: .5s;
}
.panel-hover:hover{
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: .4s;
}
.works-title{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.bgColor-lightGray{
  background: #f6f6f6;
  box-shadow: 0px 0px 8px 2px #ddd inset;
}
.about-image-wrapper img{
  height: auto;
  width: 75%
}
.skill-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skill-title{
  color: red;
  font-weight: bold;
  text-align: center;
}
.skill-item{
  margin-bottom: 50px;
  width: 400px;
}
.footer{
  color: #ceca93;
  background: #4b4238;
  height: 90px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.footer p{



}
